@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,900,800,700);
@import url("../bower_components/selectize/dist/css/selectize.css");
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.rangeslider {
  background: #f8d8c6;
  background: -moz-linear-gradient(left, #f8d8c6 0%, #d8b096 25%, #d9a776 50%, #8a4b2a 75%, #43230d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f8d8c6), color-stop(25%, #d8b096), color-stop(50%, #d9a776), color-stop(75%, #8a4b2a), color-stop(100%, #43230d));
  background: -webkit-linear-gradient(left, #f8d8c6 0%, #d8b096 25%, #d9a776 50%, #8a4b2a 75%, #43230d 100%);
  background: -o-linear-gradient(left, #f8d8c6 0%, #d8b096 25%, #d9a776 50%, #8a4b2a 75%, #43230d 100%);
  background: -ms-linear-gradient(left, #f8d8c6 0%, #d8b096 25%, #d9a776 50%, #8a4b2a 75%, #43230d 100%);
  background: linear-gradient(to right, #f8d8c6 0%, #d8b096 25%, #d9a776 50%, #8a4b2a 75%, #43230d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d8c6', endColorstr='#43230d',GradientType=1 );
  position: relative; }

.rangeslider--horizontal {
  height: 20px;
  width: 100%; }

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%; }

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeslider__fill {
  position: absolute; }

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%; }

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%; }

.rangeslider__handle {
  background: white;
  border: 3px solid #fff;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y; }

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x; }

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

svg {
  overflow: visible; }

.container {
  position: relative; }

.hide, .modal-wrap.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.modal-wrap {
  background: #ffffff;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3; }
  .modal-wrap .modal {
    display: block;
    background: #ffffff;
    padding: 25px;
    max-width: 960px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .modal-wrap .modal a {
      font-weight: bold; }
    .modal-wrap .modal img {
      max-width: 100%; }
  .modal-wrap > .big-button {
    position: fixed;
    padding: 20px 50px;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border-top-left-radius: 3px; }

.print {
  display: inline-block;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 0 8px;
  -webkit-box-shadow: 0px 0px 6px 2px #e8e8e8;
  -moz-box-shadow: 0px 0px 6px 2px #e8e8e8;
  box-shadow: 0px 0px 6px 2px #e8e8e8; }
  .print:before {
    content: "";
    display: inline-block;
    background: transparent url("../images/icons/print.svg") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 0 7px -4px 0; }

section {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  text-align: center;
  width: 50%;
  float: left;
  z-index: 1; }
  section.full-width {
    width: 100%; }
  section .center-content {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

a {
  text-decoration: none;
  color: #166E9F; }

.button {
  display: inline-block;
  margin: 0 5px 5px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  padding: 12px;
  -webkit-box-shadow: 0px 0px 6px 2px #e8e8e8;
  -moz-box-shadow: 0px 0px 6px 2px #e8e8e8;
  box-shadow: 0px 0px 6px 2px #e8e8e8;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .button:active {
    background: #efefef; }
  .button.selected {
    background: #166E9F;
    color: #ffffff; }
  .button.color {
    border: 3px solid #ffffff;
    padding: 21px; }
  .button.color.selected {
    border-color: #166E9F; }

.big-button {
  display: block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: #ffffff;
  background: #166E9F;
  font-size: 42px;
  letter-spacing: .5px;
  padding: 8px 12px;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .big-button:active {
    background: #3e9d7b; }
  .big-button.toggle.selected {
    background: #3e9d7b; }

.half-size {
  display: inline-block;
  width: 45%;
  margin-left: 10px;
  margin-right: 10px; }

label {
  display: block;
  padding-bottom: 12px; }

#stage {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 0;
  background: #E3FCFF; }
  #stage .character {
    display: block;
    position: relative;
    top: 50%;
    width: 50%;
    margin: 0 auto;
    z-index: 5;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #stage .character .hair {
      position: absolute;
      top: -6%;
      width: 100%; }
      #stage .character .hair[data-color='1'] path {
        fill: #a8701d; }
      #stage .character .hair[data-color='2'] path {
        fill: #fdd744; }
      #stage .character .hair[data-color='3'] path {
        fill: #d96b0c; }
      #stage .character .hair[data-color='4'] path {
        fill: #483932; }
      #stage .character .hair[data-color='5'] path {
        fill: #dadce5; }
      #stage .character .hair[data-style='1'] {
        top: -7%;
        left: -4%;
        width: 105%; }
      #stage .character .hair[data-style='2'] {
        width: 105%;
        left: -4%; }
      #stage .character .hair[data-style='3'] {
        width: 90%;
        left: 5%; }
      #stage .character .hair[data-style='4'] {
        width: 96%;
        left: 2%; }
    #stage .character .base .body-option {
      visibility: hidden; }
    #stage .character .base[data-gender='male'] .male-body {
      visibility: visible; }
    #stage .character .base[data-gender='female'] .female-body {
      visibility: visible; }
    #stage .character .base[data-gender='other'] .other-body {
      visibility: visible; }
    #stage .character .base:not([data-gender]) .generic-body {
      visibility: visible; }
  #stage .bank {
    display: block;
    position: absolute;
    bottom: 45%;
    left: 4%;
    width: 300px;
    height: 180px;
    background: url("../images/props/bank.svg") no-repeat;
    background-size: contain; }
  #stage .safe {
    display: block;
    position: absolute;
    bottom: 35%;
    left: 12%;
    width: 100px;
    height: 100px;
    background: url("../images/props/safe.svg") no-repeat;
    background-size: contain; }
  #stage .flag {
    display: block;
    position: absolute;
    top: 50%;
    left: 75%;
    width: 100px;
    height: 75px;
    background-size: cover;
    transform: rotate(3deg); }
    #stage .flag:before {
      content: "";
      display: block;
      background: #634E42;
      width: 8px;
      height: 150px;
      border-radius: 4px;
      margin: -4px 0 0 -4px; }
  #stage .ground {
    display: block;
    position: absolute;
    width: 100%;
    height: 45%;
    background: red;
    bottom: 0;
    z-index: -1;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, white 66%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(66%, white));
    background: -webkit-linear-gradient(top, #eaeaea 0%, white 66%);
    background: -o-linear-gradient(top, #eaeaea 0%, white 66%);
    background: -ms-linear-gradient(top, #eaeaea 0%, white 66%);
    background: linear-gradient(to bottom, #eaeaea 0%, white 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); }
  #stage .background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    bottom: 0;
    transition: bottom 1s;
    z-index: -2; }
    #stage .background.up {
      bottom: 45%; }

.row:after {
  content: "";
  display: block;
  clear: both; }
.row .column {
  display: inline-block;
  float: left;
  width: 33%;
  padding: 0 5px; }

section#Welcome a[data-hairstyle] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999999px;
  height: 70px;
  width: 80px;
  margin: 0 10px; }
section#Welcome a[data-hairstyle="1"] {
  background-image: url("../images/character/hair-1.svg"); }
section#Welcome a[data-hairstyle="2"] {
  background-image: url("../images/character/hair-2.svg"); }
section#Welcome a[data-hairstyle="3"] {
  background-image: url("../images/character/hair-3.svg"); }
section#Welcome a[data-hairstyle="4"] {
  background-image: url("../images/character/hair-4.svg"); }
section#Welcome .skin-wrap {
  max-width: 85%;
  margin: 0 auto; }
section#Welcome .next {
  position: absolute;
  width: 100%;
  bottom: 0; }

section#Origin .center-content {
  width: 90%; }
section#Origin .selectize-control {
  width: 100%; }
  section#Origin .selectize-control .not-full {
    height: 54px; }
  section#Origin .selectize-control .item, section#Origin .selectize-control .option {
    font-size: 24px;
    line-height: 36px; }
section#Origin ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px; }
section#Origin ::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
section#Origin .button.borough {
  margin-bottom: 12px; }

section#Concerns .center-content {
  width: 450px; }

section#Bank .center-content {
  width: 450px; }

section#Credit .center-content {
  width: 450px; }

/*# sourceMappingURL=main.css.map */
