@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,900,800,700);
@import url("../bower_components/selectize/dist/css/selectize.css");

// @import url("../bower_components/normalize-css/normalize.css");
@import "rangeslider";

$primary-color: #166E9F;
$secondary-color: #3e9d7b;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .container {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

svg { overflow:visible; }

.container { position:relative; }

.hide, .modal-wrap.hide { display:none; }
.invisible { visibility:hidden; }

.modal-wrap {
	background:rgba(0,0,0,.6);
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	z-index:3;

	.modal {
		display:block;
		background:#ffffff;
		padding:25px;
		width:100%;
		height:100%;
		overflow-y:auto;
		a { font-weight:bold; }
		img { max-width:100%; }
	}

}

section {
	display:block;
	position:relative;
	height:100%;
	width:100%;
    font-family: 'Raleway', sans-serif;
    background:#ffffff;
    text-align:center;
    width:50%;
    float:left;
    z-index:1;
    &.full-width { width:100%; }

	.center-content {
		display:block;
		position: absolute;
		top:45%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
	}
}

a {
	text-decoration:none;
	color: $primary-color;
}

.button {
	display:inline-block;
	margin:0 5px 5px;
	color:#000000;
	background:#ffffff;
	text-decoration:none;
	border-radius:3px;
	padding:12px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	-moz-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	-webkit-transition:all .3s;
	transition:all .3s;
	&:active {
		background:#efefef;
	}
	&.selected {
		background:$primary-color;
		color:#ffffff;
	}

	&.color { border:3px solid #ffffff; padding:21px;}
	&.color.selected { border-color: $primary-color; }
}

.big-button {
	display: block;
	text-decoration: none;
	font-weight:bold;
	border-radius:3px;
	color:#ffffff;
	background:$primary-color;
	font-size:42px;
	letter-spacing: .5px;
	padding:8px 12px;
	-webkit-transition:all .3s;
	transition:all .3s;
	&:active {
		background:$secondary-color;
	}
	&.toggle.selected {
		background:$secondary-color;
	}
}
.half-size {
	display:inline-block;
	width:45%;
	margin-left:10px;
	margin-right:10px;
}

label {
	display:block;
	padding-bottom:12px;
}

#stage {
	display:block;
	position:absolute;
	width:50%;
	height:100%;
	right:0;
	z-index:0;
	background:#E3FCFF;
	.character {
		display:block;
		position:relative;
		top:50%;
		width:50%;
		margin:0 auto;
		z-index:5;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
		.hair {
			position:absolute;
			top:-6%;
			width:100%;
			&[data-color='1'] path { fill:#a8701d; }
			&[data-color='2'] path { fill:#fdd744; }
			&[data-color='3'] path { fill:#d96b0c; }
			&[data-color='4'] path { fill:#483932; }
			&[data-color='5'] path { fill:#e9ebf5; }

			&[data-style='1'] {
    			top: -7%;
    			left: -4%;
    			width: 105%;
			}
			&[data-style='2'] {
    			width: 105%;
    			left: -4%;
			}
			&[data-style='3'] {
				width:90%;
				left:5%;
			}
			&[data-style='4'] {
				width:96%;
				left:2%;
			}

		}
		.base {
			.body-option { visibility:hidden; }

			&[data-gender='male'] .male-body { visibility:visible; }
			&[data-gender='female'] .female-body { visibility:visible; }
			&[data-gender='other'] .other-body { visibility:visible; }
			&:not([data-gender]) .generic-body { visibility:visible; }

		}
	}
	.bank {
		display:block;
		position:absolute;
		bottom:45%;
		left:4%;
		width:300px;
		height:180px;
		background: url('../images/props/bank.svg') no-repeat;
		background-size:contain;
	}
	.safe {
		display:block;
		position:absolute;
		bottom:35%;
		left:12%;
		width:100px;
		height:100px;
		background: url('../images/props/safe.svg') no-repeat;
		background-size:contain;
	}
	.flag {
		display:block;
		position:absolute;
		top:50%;
		left:75%;
		width:100px;
		height:75px;
		background-size:cover;
		transform:rotate(3deg);
		&:before {
			content:"";
			display:block;
			background:#634E42;
			width:8px;
			height:150px;
			border-radius:4px;
			margin:-4px 0 0 -4px;
		}
	}
	.ground {
		display:block;
		position:absolute;
		width:100%;
		height:45%;
		background:red;
		bottom:0;
		z-index:-1;
		background: rgb(234,234,234);
		background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 66%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(66%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 66%);
		background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 66%);
		background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 66%);
		background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 66%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
	}
	.background {
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		background-size:contain;
		background-position:0 bottom;
		background-repeat:no-repeat;
		bottom:0;
		transition: bottom 1s;
		z-index:-2;
		&.up { bottom:45%; }
	}
}

.row {
	&:after { content:""; display:block; clear:both; }
	.column {
		display:inline-block;
		float:left;
		width:33%;
		padding:0 5px;
	}
}



section#Welcome {

	a[data-hairstyle] {
		background-size:contain;
		background-repeat:no-repeat;
		background-position:center center;
		text-indent:-9999999px;
		height:70px;
		width:80px;
		margin:0 10px;
	}
	a[data-hairstyle="1"]{ background-image: url('../images/character/hair-1.svg'); }
	a[data-hairstyle="2"]{ background-image: url('../images/character/hair-2.svg'); }
	a[data-hairstyle="3"]{ background-image: url('../images/character/hair-3.svg'); }
	a[data-hairstyle="4"]{ background-image: url('../images/character/hair-4.svg'); }

	.skin-wrap {
		max-width:85%;
		margin:0 auto;
	}

	.next {
		position:absolute;
		width:100%;
		bottom:0;
	}
}

section#Origin {
	.selectize-control { width:400px; }
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

section#Concerns {
	.center-content {
		width:450px;
	}
}

section#Bank {
	.center-content {
		width:450px;
	}
}

section#Credit {
	.center-content {
		width:450px;
	}
}