@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,900,800,700);
@import url("../bower_components/selectize/dist/css/selectize.css");

// @import url("../bower_components/normalize-css/normalize.css");

$primary-color: #53BB96;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .container {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

svg { overflow:visible; }

.container { position:relative; }

.hide, .modal-wrap.hide { display:none; }

.modal-wrap {
	background:rgba(0,0,0,.6);
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	z-index:3;

	.modal {
		display:block;
		background:#ffffff;
		padding:25px;
		width:70%;
		height:80vh;
		margin:10vh auto 0;
		overflow-y:auto;
	}

}

section {
	display:block;
	position:relative;
	height:100%;
	width:100%;
    font-family: 'Raleway', sans-serif;
    background:#ffffff;
    text-align:center;
    width:50%;
    float:left;
    z-index:1;
    &.full-width { width:100%; }
}

a {
	text-decoration:none;
	color: $primary-color;
}

.button {
	display:inline-block;
	margin:0 5px 5px;
	color:#000000;
	background:#ffffff;
	text-decoration:none;
	border-radius:3px;
	padding:12px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	-moz-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	-webkit-transition:all .3s;
	transition:all .3s;
	&:active {
		background:#efefef;
	}
	&.selected {
		background:$primary-color;
		color:#ffffff;
	}

	&.color { border:3px solid #ffffff; padding:21px;}
	&.color.selected { border-color: $primary-color; }
}

.big-button {
	display: block;
	text-decoration: none;
	font-weight:bold;
	border-radius:3px;
	color:#ffffff;
	background:$primary-color;
	font-size:42px;
	letter-spacing: .5px;
	padding:8px 12px;
	-webkit-transition:all .3s;
	transition:all .3s;
	&:active {
		background:#3e9d7b;
	}

	&.toggle {
		color:#000000;
		background:#ffffff;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
		-moz-box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
		box-shadow: 0px 0px 6px 2px rgba(232,232,232,1);
	}
	&.toggle.selected {
		color:#ffffff;
		background:$primary-color;
	}
}

#stage {
	display:block;
	position:absolute;
	width:50%;
	height:100%;
	right:0;
	z-index:0;
	background:#fafafa;
	.character {
		display:block;
		position:relative;
		top:50%;
		width:50%;
		margin:0 auto;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
		.hair {
			position:absolute;
			top:0;
			width:100%;
			&[data-color='1'] path { fill:#a8701d; }
			&[data-color='2'] path { fill:#fdd744; }
			&[data-color='3'] path { fill:#d96b0c; }
			&[data-color='4'] path { fill:#483932; }
			&[data-color='5'] path { fill:#e9ebf5; }

			&[data-style='1'] { transform: translate(-1px,-19px) scale(.99); }
			&[data-style='2'] { transform: translate(-1px,-19px) scale(1.1); }
			&[data-style='3'] { transform: translate(0px,-24px) scale(.86); }
			&[data-style='4'] { transform: translate(0px,-27px) scale(.86); }
		}
		.base {
			&[data-color='1'] .st0 { fill:#f8d8c6; }
			&[data-color='2'] .st0 { fill:#d8b096; }
			&[data-color='3'] .st0 { fill:#d9a776; }
			&[data-color='4'] .st0 { fill:#8a4b2a; }
			&[data-color='5'] .st0 { fill:#43230d; }

			.body-option { visibility:hidden; }

			&[data-gender='male'] .male-body { visibility:visible; }
			&[data-gender='female'] .female-body { visibility:visible; }
			&[data-gender='other'] .other-body { visibility:visible; }
			&:not([data-gender]) .generic-body { visibility:visible; }

		}
	}
}


section#Welcome {
	.next {
		position:absolute;
		width:100%;
		bottom:0;
	}
}